body {
    background: linear-gradient(to bottom, #f0f0f0, #e6e6e6);
}

.container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}